<div class="container mt-4">
  <!-- Форма для добавления новой задачи -->
  <form (ngSubmit)="addTodo()" class="mb-4">
    <input [(ngModel)]="newTodo.description" 
           name="description" 
           placeholder="Beschreibung" 
           class="form-control mb-2" 
           required>
    
    <!-- Поле для выбора даты -->
    <input [(ngModel)]="newTodo.dueDate" 
           name="dueDate" 
           type="date" 
           class="form-control mb-2" 
           required>
    
    <button type="submit" class="btn btn-primary">Hinzufügen</button>
  </form>

  <!-- Блок для отображения ошибок -->
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <!-- Список задач -->
  <div class="row">
    <div *ngFor="let todo of todos" class="col-12 col-md-4 col-lg-2 mb-3">
      <div class="card" 
           [ngClass]="{
             'bg-success': todo.state === 'OPEN', 
             'bg-primary': todo.state === 'DONE'
           }"
           (click)="toggleStatus(todo)">
        <div class="card-body">
          <p>{{ todo.description }}</p>
          <p>{{ todo.dueDate | date: 'dd.MM.yyyy' }}</p> <!-- Отображение даты в формате DD.MM.YYYY -->
          <button class="btn btn-sm btn-danger" (click)="deleteTodo(todo.id)">Löschen</button>
        </div>
      </div>
    </div>
  </div>
</div>